*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(97, 92, 92);
}

h1{
    margin: 10px;
    color:whitesmoke;
    font-size: 40px;
}

footer{
    color: white;
    font-size: 30px;
}